@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
:root {
    --primary: #004953;
    --secondary: #ace1af;
    --bg: #fff5ee;
    --text-color: #004953d4;
    --font-title: 3rem;
    --font-subtitle: 1.2rem;
    --p-btn: 0.6rem 0.8rem;
    --roboto: "Roboto", serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Noto serif", sans-serif;
    color: var(--primary);
}
body {
    background-color: var(--bg);
}
p {
    font-family: var(--roboto);
}

/* NAVBAR */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

nav #p {
    font-size: 1.5rem;
    font-weight: bold;
}

nav ul {
    display: flex;
    gap: 1.5rem;
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
}
nav button {
    border: none;
    padding: var(--p-btn);
    margin-top: 1rem;
    background: var(--secondary);
}

/* ✅ Menu Burger */
.burger {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.burger .bar {
    background: #333;
    height: 3px;
    width: 25px;
    border-radius: 2px;
}

/* CONTAINER */
.container {
    padding-inline: 10rem;
}

/* HERO */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
    height: 80vh;
    margin-top: 20px;
}
h1 span {
    text-decoration: underline;
}
.hero_title, .hero_desc, 
.hero_cta{
    overflow: hidden;
}
.hero p {
    color: var(--text-color);
}
.hero_header {
    width: 50%;
    gap: 1rem;
    display: flex;
    flex-direction: column;
}
.hero_cta {
    display: flex;
    align-items: center;
    height: 40px;
    gap: 10px;
    margin-top: 1rem;
}
.hero_cta a {
    border: none;
    padding: var(--p-btn);
    margin-top: 1rem;
    text-decoration: none;
}
.hero_cta a:first-child {
    background: var(--primary);
    color: white;
}
.hero a {
    background: var(--secondary);
}
.hero_imgs {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    width: 50%;
    height: 80%;
}
.hero_img {
    width: 100%;
    height: 100%;
}
.hero_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.hero_img1 {
    transform: translateY(-40px);
}
.hero_img2 {
    transform: translateY(40px);
}

/* PROBLEME & SOLUTION */
.probleme_solution {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
    margin-top: 150px;
}
.ps_header,
.ps_img {
    width: 50%;
}
.ps_img {
    height: 100%;
    width: 70%;
}
.ps_img img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.ps_title {
    font-size: 1.2rem;
    font-weight: 600;
    font-family: "Noto serif", sans-serif;
}
.ps_desc {
    margin-top: 1rem;
    color: var(--text-color);
}

/* FONCTION */
.fonction {
    margin-top: 150px;
}
.fc_header {
    display: flex;
    justify-content: space-between;
}
.fc_title {
    font-size: 2rem;
    font-weight: 600;
    font-family: "Noto serif", sans-serif;
}
.fc_cta p {
    color: var(--text-color);
}
.fc_cta button {
    border: none;
    padding: var(--p-btn);
    margin-top: 1rem;
    background: var(--secondary);
}
.fc_grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    margin-top: 3rem;
}
.fc_card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 1rem;
    background: white;
}
.fc_card div {
    height: 200px;
    width: 100%;
}
.fc_card div img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.fc_card_title {
    font-weight: 600;
    font-size: 1.1rem;
    font-family: "Noto serif", sans-serif;
}
.fc_card_desc {
    color: var(--text-color);
}

/* POURQUOI */
.pourquoi {
    margin-top: 100px;
}
.pk_title {
    text-align: center;
    font-weight: 600;
    font-size: 2rem;
    font-family: "Noto serif", sans-serif;
}
.pk_card {
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
    align-items: center;
}
.pk_card_title {
    font-size: 1.1rem;
    font-weight: bold;
}
.pk_card_desc {
    margin-top: 10px;
}
.pk_card_left,
.pk_card_right {
    width: 50%;
}

.pk_card_right {
    height: 100%;
}

.pk_card_right img {
    width: 100%;
    height: 100%;
    background: white;
}

/* CTA */
.cta {
    text-align: center;
    margin-top: 100px;
}
.cta_title {
    text-align: center;
    font-weight: 600;
    font-size: 2rem;
}

.cta button {
    border: none;
    padding: var(--p-btn);
    margin-top: 1rem;
    text-decoration: none;
    background: var(--secondary);
}

.cta_btn_text {
    margin-top: 1rem;
    font-family: var(--roboto);
}

/* CONTACT */
.contact {
    margin-top: 150px;
    background: var(--primary);
    padding: 2rem 5rem;
    display: flex;
    justify-content: space-between;
}
.contact_title,
.contact_desc,
.contact_right {
    color: white;
    text-decoration: none;
}
.contact_title {
    font-weight: 600;
    font-size: 2rem;
}
.contact_desc {
    margin-top: 1rem;
    font-family: var(--roboto);
}

/* FOOTER */
footer {
    margin-top: 100px;
    padding: 3rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #004953;
}

footer ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    gap: 2rem;
}

@media (max-width: 768px) {
    /* GÉNÉRAL */
    .container {
        padding-inline: 2rem;
    }
    nav ul {
        background: var(--bg);
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        padding: 1rem 2rem;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        z-index: 1000;
    }

    nav ul.active, .burger {
        display: flex;
    }

    nav button {
        display: none;
    }

    /* HERO */
    .hero {
        flex-direction: column;
        text-align: center;
        height: auto;
        gap: 2rem;
    }
    .hero_header,
    .hero_imgs {
        width: 100%;
    }
    .hero_header{
        align-items: center;
    }
    .hero_title{
        width: 90%;
    }
    .hero_desc{
        width: 80%;
    }
    .hero_cta {
        justify-content: center;
    }
    .hero_imgs{
        margin-top: 4rem;
    }

    /* PROBLEME & SOLUTION */
    .probleme_solution {
        flex-direction: column-reverse;
        text-align: center;
    }
    .ps_header,
    .ps_img {
        width: 100%;
    }

    /* FONCTION */
    .fc_header {
        flex-direction: column;
        text-align: center;
    }
    .fc_grid {
        grid-template-columns: 1fr;
    }

    /* POURQUOI */
    .pk_card {
        flex-direction: column;
    }
    .pk_card_left,
    .pk_card_right {
        width: 100%;
    }
    .pk_card_right{
        margin-top: 1rem;
    }

    /* CONTACT */
    .contact {
        margin-top: 80px;
        flex-direction: column;
        text-align: center;
        gap: 2rem;
    }

    /* FOOTER */
    footer {
        flex-direction: column;
        text-align: center;
        gap: 2rem;
    }
    footer ul {
        flex-direction: column;
        gap: 0.8rem;
    }
}

@media (max-width: 548px) {
    .contact{
        padding: 1rem 1.8rem;
    }
    .contact_title {
        font-weight: 600;
        font-size: 1.5rem;
    }
}
